<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/joinProc" method="post">
    <label>유저아이디 :</label>
    <input type="text" name="userId" placeholder="유저 아이디"/> <br/>
    <label>별명 :</label>
    <input type="text" name="userNickName" placeholder="별명"/> <br/>
    <label>비밀번호 :</label>
    <input type="password" name="password" placeholder="비밀번호"/> <br/>
    <button>회원가입</button>
</form>
</body>
</html>