<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포스트 게시물</title>
</head>
<body>
<table border="1">
    <tr>
        <td colspan="1" th:text="'번호 : ' + ${postResponseDto.getId}"></td>
        <td colspan="3" align="center" th:text="${postResponseDto.getTitle}"></td>
    </tr>
    <tr>
        <td th:text="'작성자 : ' + ${postResponseDto.getWriter}"></td>
        <td th:text="'조회수 : '  + ${postResponseDto.getViewCount}"></td>
        <td th:text="'작성일시 : ' + ${postResponseDto.getCreatedDate}"></td>
        <td th:text="'수정일시 : ' + ${postResponseDto.getModifiedDate}"></td>
    </tr>
    <tr>
        <td colspan="4" th:text="${postResponseDto.getContent}"></td>
    </tr>
</table>
<form th:action="@{/post/edit}" method="get">
    <input type="hidden" name="id" th:value="${postResponseDto.getId}">
    <button th:if="${postResponseDto.getWriter} == ${userNickName}">수정하기</button>
</form>
</body>
</html>

<!--this.id = entity.getId();-->
<!--this.title = entity.getTitle();-->
<!--this.content = entity.getContent();-->
<!--this.writer = entity.getWriter();-->
<!--this.viewCount = entity.getViewCount();-->
<!--this.deleteYesOrNo = entity.isDeleteYesOrNo();-->
<!--this.createdDate = entity.getCreatedDate();-->
<!--this.modifiedDate = entity.getModifiedDate();-->